################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/AgendamentoTarefas/FileContentIndex/ef61c5ce-69dd-464c-9f76-1b66dae46d2c.vsidx
